.snippetsContainer {
  display: flex;
  flex-direction: column;
  /* height: fit-content; */
  /* background-color: grey; */
  /* text-align: center; */
  border-color: blue;
  border-radius: 7px;
  margin: 10px;
  padding: 10px;
  padding: 10px;
}

.snippetBox {
  padding: 20px;
  margin: 10px;
  background-color: #9de0ad;
  border-radius: 5px;
}
